<div class="propriety_footer">
  <a href="<%= root_url(:subdomain => false) %>">
    <%= image_tag 'powered-by-vs.png' %> powered
  </a> 
  - Copyright 2011 VoteSystem - <a href="http://apps.hemca.com">Strzelewicz Alexandre</a>
</div>

<div class="powered">
  <a href="<%= root_url(:subdomain => false) %>">
    <%= image_tag 'powered-by-vs.png' %>
  </a> 
</div>
