
.cmt {
    background-color : white;
    width : 500px;
    border : 1px solid #CCC;
    margin-bottom : 5px;
    padding : 0px 5px 5px 5px;
    .meta-cmt {
	padding : 5px 3px 5px 3px;
	border-bottom : 1px dotted #CCC;
	.registred a{
	    color : black;
	    font-size : 14px;
	    font-weight : bold;
	    text-decoration : none;
	}
	.anonymous a{
	    color : red !important;
	}
	.time {
	    color : #777;
	    font-style : italic;
	    padding-left : 10px;
	}
    }
    .content {
	padding : 6px 0px 4px 5px;
    }
}

.comments {
    width : 500px;
    padding : 5px 5px 0px 5px;

    // background-color : #F7F7F7;
    // border : 1px solid #CCC;

    .add-comment table{
	width : 500px;
	margin : 0 auto;
    }
    #post-comment {
	a {
	    text-decoration : none;
	    color : black;
	    font-size : 1.1em;
	    font-weight : bold;
	    border : 1px solid #3f3f3f;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    padding : 4px 10px 4px 10px;
	    border-radius: 5px;		
	}
	margin-top : 22px;
	margin-bottom : 15px;
	text-align : center;
    }
    h3 {
	margin : 20px 0 15px;
	font-size : 20px;
	font-weight : bold;
	color : #222;
	letter-spacing : -0.05em;
    }
}